.cal_body {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.cal_display {
  background-color: rgb(65, 64, 63);
  color: white;
  height: 60px;
  border-radius: 10px;
  padding: 5px;
  font-family: 'Digital-7', arial;
}

.cal_buttons {
  display: flex;
  flex-wrap: wrap;
}

button {
  flex: 1 1 60px;
  margin: 3px;
}
